/***********
 * HELPERS *
 ***********/

.visible {
	display: block;
}


/*********
 * PAGES *
 *********/

.page {
	display: none;
}


/*********
 * TASKS *
 *********/

.page#tasks {

	.item-task {
		list-style: none;
	}
}
